.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/@types/**
node_modules/**
!node_modules/blockly/blockly.min.js
!node_modules/@blockly/workspace-backpack/dist/index.js
things_to_try.txt
.eslintignore