.vscode/**
.vscode-test/**
src/**
**/.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.js
**/.eslintignore
**/.prettierrc.js
**/.prettierignore
**/pnpm-lock.yaml
**/*.map
**/*.ts
**/@types/**
node_modules/**
things_to_try.txt