---
---

@import "{{ site.theme }}";

th, td {
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

img.center {
  margin-inline: auto;
}

.wrapper {
  width: 1060px;
}

section {
  width: 700px;
}
